<h1 class="title-page">
  <%= getPageTitleForCyberReport(
    "FriendlyResource \"#{getFriendlyResourceName(@friendlyResource)}\" | #{getCyberReportType(@cyberReport)}") %>
</h1>
<div class="about-page">
  <p>You are looking at <%= getCyberReportName(@cyberReport) %>.</p>
  <% @cyberReportDetails.each do |field, value| %>
    <p><b><%= field %></b>: <%= value %></p>
  <% end %>
</div>
<div class="navigate-resources">
  <p>Navigation links:</p>
  <ul>
    <li><%= link_to "Back to CyberReports for #{getFriendlyResourceName(@friendlyResource)}",
      demo_friendly_resource_cyber_reports_path(@friendlyResource) %></li>
  </ul>
</div>