<h1 class="title-page"><%= getpageTitleForFriendlyResource(getFriendlyResourceName(@friendlyResource)) %></h1>
<div class="about-page">
  <p><b>Name:</b> <%= getFriendlyResourceName(@friendlyResource) %>
  <p><b>IP address</b>: <%= getFriendlyResourceIpAddress(@friendlyResource) %></p>
  <p>Details of <i>"<%= getFriendlyResourceName(@friendlyResource) %>"</i> can be edited via
    <%= link_to "#{@friendlyResource.name()} edit", edit_demo_friendly_resource_path(@friendlyResource) %>
  </p>
</div>
<div class="navigate-resources">
  <ul>
    <li>
      <%= link_to "Go to CyberReports for #{getFriendlyResourceName(@friendlyResource)}",
        demo_friendly_resource_cyber_reports_path(@friendlyResource) %>
    </li>
    <li>
      <%= link_to "Start monitoring for #{getFriendlyResourceName(@friendlyResource)}",
        demo_friendly_resource_start_monitoring_path(@friendlyResource) %>
    </li>
    <li>
      <%= link_to "Stop monitoring for #{getFriendlyResourceName(@friendlyResource)}",
        demo_friendly_resource_stop_monitoring_path(@friendlyResource) %>
    </li>
    <li>
      <%= link_to "Back to all FriendlyResources", demo_friendly_resources_path() %>
    </li>
  </ul>
</div>