<div class="container">
  <div class="row">
    <h1 class="title-page"><%= page_title_for_friendly_resources_view("Signup new resource") %></h1>
  </div>
  <div class="row about-page">
    <p>
      Below is the form for creation of new
      <span data-toogle="tooltip" data-placement="top" title="Web Application / Server that is monitored by Observer.">
        <em>friendly resource</em>
      </span>
      .
    </p>
  </div>
  <div class="row signup-form-container">  
    <%= form_for @friendly_resource do |f| %>
      <% if @friendly_resource.errors.any? %>
        <div id="errorExplanation">
          <h2><%= pluralize(@friendly_resource.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
          <% @friendly_resource.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text form-control" class="form-control" id="name" placeholder="i.e. Main">
      </div>
      <div class="form-group">
        <label for="ip_address">IP address</label>
        <input type="text form-control" class="form-control" id="ip_address" placeholder="i.e. 79.181.31.2">
      </div>
      <div class="col-sm-3 actions">
      </div>
      <div class="col-sm-6 actions">
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </div>
      <div class="col-sm-3 actions">
      </div>
    <% end %>
  </div>
  <div class="row navigate-resources">
    <%= link_to "Back to Observer sub-system homepage", root_path %>
  </div>
</div>
